 @import url('https://fonts.googleapis.com/css?family=Sail&display=swap');

.App {
  text-align: center;
}

body {
  background-color: #f2f2f2;
}

h1 {
  color: #d11aff;
  font-family: 'Sail', cursive;
  font-size: 3.75em;
}
