/* .login-register {
    display: flex;
    justify-content: center;
    margin-top: 4.5em;
} */

/* .nav {
    display: flex;
    justify-content: space-around;
    width: 45%;
} */


/* .font {
    font-family: 'Sail', cursive;
    text-decoration: none; */
}

/* .med {
     font-size: 2.5em;
} */

/* .m-right { 
    margin-right: 1.5rem;
} */

/* .m-left { 
    margin-left: 1.5rem;
} */

.color {
    color:#d11aff;
}

/* .color:hover {
    color: #8d17a5;
} */

.active {
    color: #d11aff;
}




