.login-register {
    display: flex;
    justify-content: center;
    margin-top: 4.5em;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.font {
    font-family: 'Sail', cursive;
    text-decoration: none;
}

.med {
     font-size: 2.5em;
}

.color {
    color:#d11aff;
}

.color:hover {
    color: #8d17a5;
}

.active {
    color: #d11aff;
}

.m-right { /** move login to the right ***/
    margin-right: 1.5rem;
}
.m-left { /** move register to the left **/
    margin-left: 1.5rem;
}

.m-top { /** move form slightly further down screen from Login && Register buttons. **/
    margin-top: 2.75rem;
}

.heading { /** controls the headings in the forms Login && Register **/
    font-size: 1.75rem;
    font-family: sans-serif;
    padding-bottom: 0.75rem;  
}